*{
    color: rgba(255, 255, 255, 0.89);
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

body{
    background-color: #006def;
    height: 100vh;
    /* overflow: hidden; */
}

.container{
    padding: 20px 100px;
    overflow: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 100px 0;
}

.img{
    width: 100px;
    height: 60px;
    background-image: url(img/proxy2-image.png);
    background-size:cover ;
    background-position: center;
    flex-shrink: 0;
}

ul{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
    
}
ul li{
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
}

article{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    
}
.left{
    max-width: 400px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.left .first {
    font-size: 32px;
    font-weight: 700;
    
}
.left .first b{
    font-size: 35px;
    font-weight: 900;
    display: block;
    margin-bottom: 20px;
}
.left p{
    line-height: 1.2;
}

.right{
    display: flex;
    align-items: start;
    animation-name: square;
    animation-duration: 2s;
    gap: 20px;
    /* animation:linear ; */
}

button{
    width: fit-content;
    padding: 10px 20px;
    color: black;
    font-size: 13px;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    /* align-self: center; */
    margin-top: 15px;
}

@keyframes square{
    from{
        position: relative;
        right: -400px ;

    }
    to{
        position: relative;
        right: 0 ;
    }
}

.right .img2{
    background-image:url(img/proxy-image.png) ;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 230px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    position: relative;
    right: 0;
}

footer {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    animation-name: logos;
    animation-duration: 2s;
    position: relative;
    bottom: 0;
}

@keyframes logos{
    from{
        position: relative;
        bottom: -50px;
    }
}
footer img{
    width: 50px;

}

@media (max-width:900px){
    article{
        flex-direction: column;
        align-items: center;
    }
    header{
        flex-direction: column;
        gap: 20px;
    }

}



